<!--
<div class="wrapper" *ngIf="isLoggedIn$">
        <div class="sidebar" data-color="purple" >
    
      
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a  class="simple-text">
                        Claims Corner
                    </a>
                </div>
    
                <ul class="nav">
                    <li class="active">
                        <a routerLink="home" routerLinkActive="active" *ngIf="authService.loggedIn">
                            <i class="pe-7s-graph"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink="profile" routerLinkActive="active" *ngIf="authService.loggedIn && authService.isAdmin">
                            <i class="pe-7s-user"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink="Users" routerLinkActive="active" *ngIf="authService.loggedIn && authService.isAdmin ">
                            <i class="pe-7s-note2"></i>
                            <p>Users</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink="claims-list" routerLinkActive="active" *ngIf="authService.loggedIn && authService.isAdmin" >
                            <i class="pe-7s-news-paper"></i>
                            <p>claims</p>
                        </a>
                    </li>
                  
                    <li>
                        <a routerLink="google-map" routerLinkActive="active" *ngIf="authService.loggedIn">
                            <i class="pe-7s-map-marker"></i>
                            <p>Maps</p>
                        </a>
                    </li>
                  
                    
                </ul>
            </div>
        </div>
    
        <div class="main-panel" >
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <ul class="nav justify-content-end pull-right" style="float: right;"   >
                           
                            <li class="nav-item">
                              
                              <a class="nav-link"   (click)="logout()" routerLink=""  *ngIf="authService.loggedIn">      <span class="glyphicon glyphicon-log-out"></span>Log out</a>
                            </li>
                            <li class="nav-item">
                                <p-splitButton label="Language" icon="pi pi-globe"  [model]="items" dir="rtl"></p-splitButton>

                              </li>
                            
                            
                          </ul>
                    </div>
                   
                </div>
            </nav>
    
    
            <div class="content">
                <div class="container-fluid">
                   
    
    
    
                    
                </div>
            </div>
    
    
            <footer class="footer" style="position: fixed; bottom: 0px; width: 100%; height: 60px;"  >
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                          
                            <li>
                                <a href="#">
                                   Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;  <a href="http://www.creative-tim.com">Ditriot Consulting</a>
                    </p>
                </div>
            </footer>
    
        </div>
    </div>
-->
<!--Navbar-->



    